# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Outputs folder (files generated when running code, usually not tracked)
# Comment the line below if you DO want to track/commit outputs
outputs/

# Dataset folder 
# dataset/ 

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
